<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>A Post-Minkowskian EFT for the Gravitational Two-Body Problem</title>
    
    <meta name="description" content="Presentation Slides made with impress.js" />
    <meta name="author" content="Gregor Kaelin" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
      "HTML-CSS": {
	  scale: 90,
	  styles: {
      '.MathJax_Display': {
      "margin": "20px 0"
      }
      }
	  },
	  TeX: { extensions: ["color.js"] },
	  });
	</script>
	<script type="text/javascript" src="extras/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body class="impress-not-supported">

	<div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	  <p>
		$$
		\definecolor{desyOrange}{RGB}{242,142,0}
		\DeclareMathOperator{\Arcsinh}{arcsinh}
		\DeclareMathOperator{\Arctan}{arctan}
		\DeclareMathOperator{\arcosh}{arcosh}
		\newcommand\dd{{\mathrm d}}
		\newcommand{\bb}{{\mathbf b}}
		\newcommand{\bk}{{\mathbf k}}
		\newcommand{\bl}{{\mathbf l}}
		\newcommand{\bm}{{\mathbf m}}
		\newcommand{\bn}{{\mathbf n}}
		\newcommand{\bp}{{\mathbf p}}
		\newcommand{\bq}{{\mathbf q}}
		\newcommand{\br}{{\mathbf r}}
		\newcommand{\bw}{{\mathbf w}}
		\newcommand{\bx}{{\mathbf x}}
		\newcommand{\by}{{\mathbf y}}
		\newcommand{\bz}{{\mathbf z}}
		\newcommand\cO{\mathcal{O}}
		\newcommand{\cD}{\mathcal{D}}
		\newcommand\cA{\mathcal{A}}
		\newcommand\cM{\mathcal{M}}
		\newcommand\cN{\mathcal{N}}
		\newcommand\cE{\mathcal{E}}
		\newcommand\cS{\mathcal{S}}
		\newcommand\cP{\mathcal{P}}
		\newcommand\cF{\mathcal{F}}
		\newcommand\cL{\mathcal{L}}
		\newcommand\Mp{M_{\rm Pl}}
		$$
	  </p>
	</div>

	<div id="impress">

	  <div id="title" class="step" data-x="0" data-y="0">
		<h1>A Post-Minkowskian EFT for the Gravitational Two-Body Pr<span class="orange">o</span>blem </h1>
		<p class="margin-bottom30">Work with Rafael Porto & Zhengwen Liu in<br/>
		  <a href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008]</a>
		  <a href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2006.01184">[2006.01184]</a>
		  <a href="http://arxiv.org/abs/arXiv:2007.04977">[2007.04977]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2008.06047">[2008.06047]</a>
		</p>
		
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		<img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		
		<p id="author">
		  Gregor Kälin
		</p>

		
		<div class="margin-top50 margin-bottom30">
		  <img id="ercFig" src="figures/erc.svg" alt="erc">
		  <img id="desyFig" src="figures/logo_DESY.png" alt="desy">
		  <img id="euFig" src="figures/eu.svg" alt="eu">
		</div>
		
		<div>
		  <i>
			DESY 25.01.2021
		  </i>
		</div>
	  </div>

	  <div id="amps" class="step vanishPast" data-rel-x="0" data-rel-y="0" data-rotate-y="90">
		<h2>Amplitudes research<span class="orange">.</span></h2>
		<p class="center">I was raised an <em>Amplitudist</em>: Higher loops is what we want!</p>
		<h3><span class="h3span">Col<span class="orange">o</span>r-kinematics duality</span></h3>
		<div class="refParent">
		  <p class="ref">[Bern, Carrasco, Johansson '08]</p>
		</div>
		Consider some gauge theory amplitude (e.g. pure YM):
		$$\cA_m^{(L)}=i^{L-1}g_\textrm{YM}^{m+2L-2}\sum_{i\in\Gamma_3^{m,L}}\int\frac{\dd^{LD}\ell}{(2\pi)^{LD}}\frac{1}{S_i}\frac{n_i c_i}{D_i}$$
		<ul>
		  <li>\(\Gamma_3^{m,L}\): Set of trivalent graphs with \(m\) external legs and \(L\) loops</li>
		  <li>\(S_i\): symmetry factors</li>
		  <li>\(D_i\): Feynman propagators</li>
		  <li>\(c_i\): color factors</li>
		  <li>\(n_i\): numerator factors (kinematics: momenta, polarization vectors/tensors,...)</li>
		</ul>
	  </div>

	  <div id="amps2" class="step vanishPast" data-rel-x="0" data-rel-y="750" data-rotate-y="90">
		<p>There is (generalized) gauge freedom left in choosing the numerators.
		  We seek a representation such that
		  $$c_i+c_j+c_k = 0 \quad \Leftrightarrow \quad n_i+n_j+n_k = 0$$
		</p>
		<div>
		  <img id="ckdual1" src="figures/ckdual1.png" alt="ckdual1"></img>
		  <img id="ckdual2" src="figures/ckdual2.png" alt="ckdual2"></img>
		</div>
		<p>Not so easy to find at higher loops. No constructive way of producing such a representation: only way to go is by an Ansatz!</p>
		<p class="center"><em>Why are we doing such painful computations?</em></p>
	  </div>

	  <div id="amps3" class="step vanishPast" data-rel-x="0" data-rel-y="750" data-rotate-y="90">
		<h3><span class="h3span">The double c<span class="orange">o</span>py</span></h3>
		<div class="refParent">
		  <p class="ref">[Bern, Carrasco, Johansson '10]</p>
		</div>
		<p>We get gravity amplitudes for free: \(c_i\rightarrow \tilde{n}_i\)
		$$\cM_m^{(L)}=i^{L-1}\left(\frac{\kappa}{2}\right)^{m+2L-2}\sum_{i\in\Gamma_3^{m,L}}\int\frac{\dd^{LD}\ell}{(2\pi)^{LD}}\frac{1}{S_i}\frac{n_i\tilde{n}_i}{D_i}$$
		</p>
		<ul>
		  <li>State-of-the-art for \(\left(\cN=4\textrm{ SYM}\right)^2=\left(\cN=8\textrm{ SGR}\right)\): 4-pt 5-loop integrand + UV-divergences <span class="refInline">[Bern et. al. '17 '18]</span></li>
		  <li>Has been used to compute massive scalar amplitudes in GR, from which the conservative 2-body potential can be extracted <span class="refInline">[BCRSSZ '19]</span></li>
		  <li>My work (with C. Duhr, H. Johansson, G. Mogull, A. Ochirov, B. Verbeek):
			<ul>
			  <li>\(\cN=2\) SYM integrands @ 2-loops 4-pt with internal and external matter: all integrands + integrated (nice IR structure discovered!)</li>
			  <li>We can do double copies, e.g. \((\cN=2\textrm{ SYM})\otimes(\cN=2\textrm{ SYM})=(\cN=4\textrm{ SGR})\): checked UV behaviour! (spoiler: it diverges in \(D=4\), finite in \(D=5\))</li>
			  <li>We can already do \((\cN=2\textrm{ SYM})\otimes(\cN=0\textrm{ SYM})=(\cN=2\textrm{ SGR})\)</li>
			  <li>Working on \(\cN=1\) SYM with arbitrary matter \(\Rightarrow\) \(\cN=1\) SGR</li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <div id="title2" class="step" data-rel-x="0" data-y-rel="0" data-rel-to="title">
	  </div>
	  
	  <div id="mergerBreakdown" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Merger breakd<span class="orange">o</span>wn</h2>
		<p class="center">
		  <img id="waveformFig" src="figures/waveform.svg" alt="waveform"></img>
		</p>
	  </div>

	  <div id="inspiral" class="step" data-rel-x="0" data-rel-y="400">
		<h3 class="purple"><span class="h3span">inspiral<span class="orange">:</span> analytic (many cycles!)</span></h3>
		<ul>
		  <li>Goal: Describe the dynamics of two massive objects in GR analytically</li>
		  <li>Various directions:
			<ul>
			  <li>Conservative dynamics</li>
			  <li>Spinning objects</li>
			  <li>Radiation</li>
			  <li>Radiation reaction (tail effects)</li>
			  <li>Inner structure & tidal deformations (BH vs NS)</li>
			  <li>...</li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <div id="inspiral1" class="step" data-rel-x="0" data-rel-y="400">
		<ul>
		  <li>Post-Newtonian: expansion in \(v^2\sim\frac{Gm}{r}\ll 1\)
			<ul>
			  <li class="refInline">
				[Droste, Lorentz 1917; ...; Einstein, Infeld, Hoffmann 1938]
			  </li>
			  <li class="refInline">
				[Blanchet, Damour, Iyer, Faye, Bernard, Bohe’, Buonanno, Marsat; Jaranowski, Schäfer, Steinhoff; Will, Wiseman; Flanagan, Hinderer, Vines; Goldberger, Porto, Rothstein; Kol, Levi, Smolkin; Cristofoli, Mastrolia, Foffa, Sturani, Torres-Bobadilla; Blümlein, Maier, Marquard, Schäfer;...]
			  </li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <div id="inspiral2" class="step" data-rel-x="0" data-rel-y="430">
		<ul>
		  <li>Post-Minkowskian: expansion in \(G\)
			<ul>
			  <li>"Classical GR" methods <span class="refInline">
				[Bertotti; Westpfahl, Goller; Bel, Damour, Deruelle, Ibanez, Martin; Ledvinka, Schäfer, Bicak; ...]
			  </span></li>
			  <li>Using perturbation theory: Scattering amplitudes <span class="refInline">[Cheung, Rothstein, Solon; BCRSSZ; Guevara, Ochirov, Vines; Damgaard, Di Vecchia, Heissenberg, Bjerrum-Bohr, Cristofoli, Vanhove; ...]</span></li>
			  <ul>
				<li>Conservative non-spinning @3PM <a class="refInline" href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.122.201603">[Bern, Cheung, Roiban, Shen, Solon, Zeng '18 '19]</a></li>
				<li>+Spin @2PM <a class="refInline" href="https://arxiv.org/abs/2005.03071">[Bern, Luna, Roiban, Shen, Zeng '20]</a></li>
				<li>4PM last week <a class="refInline" href="https://arxiv.org/abs/2101.07254">[Bern, Parra-Martinez, Roiban, Ruf, Shen, Solon, Zeng '21]</a></li>
			  </ul>
			  <li>
				PM-EFT: this talk <span class="refInline">[with Liu, Porto]</span>
			  </li>
			  <li>Closely related worldline construction: <a class="refInline" href="https://arxiv.org/abs/2010.02865">[Mogull, Plefka, Steinhoff '20]</a></li>
			</ul>
		  </li>
		  <li>Small mass-ratio/gravitational self-force: \(m_2/m_1\ll 1\)
			<ul>
			  <li class="refInline">
				[Regge, Wheeler 56; Zerilli 70; Teukolsky 72]
			  </li>
			  <li class="refInline">
				[Fujita, Poisson, Sasaki, Shibata, Khanna, Hughes, Bernuzzi, Harms, Nagar, Deitweiler, Whiting, Mino, Quinn, Wald, Tanaka, Barack, Ori, Pound, van de Meent, ...]
			  </li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <div id="PNvsPM" class="step vanishPast" data-rel-x="0" data-rel-y="0" data-rotate-y="90">
		<h1>PN vs PM<span style="color: #F28E00">.</span></h1>
		<p class="center">
		  State of the art for the conservative potential (non-spinning)
		  <a class="ref small" href="https://indico.cern.ch/event/646820/contributions/2992834/attachments/1671861/2682461/Amplitudes-2018-AB.pdf">Buonanno@Amplitudes2018</a>
		  <table class="tablePNPM">
			<thead>
			  <tr><th></th> <th></th> <th scope="col">0PN</th> <th scope="col">1PN</th> <th scope="col">2PN</th> <th scope="col">3PN</th> <th scope="col">4PN</th> <th scope="col">5PN</th> <th scope="col">6PN</th></tr>
			</thead>
			<tbody>
			  <tr><th scope="row">0PM</th> <td>$$~~1~~$$</td> <td>$$v^2$$</td> <td>$$v^4$$</td> <td>$$v^6$$</td> <td>$$v^8$$</td> <td>$$v^{10}$$</td> <td>$$v^{12}$$</td> <td>$$v^{14}$$</td></tr>
			  <tr><th scope="row">1PM</th> <td/> <td>$$1/r$$</td> <td>$$v^2/r$$</td> <td>$$v^4/r$$</td> <td>$$v^6/r$$</td> <td>$$v^8/r$$</td> <td>$$v^{10}/r$$</td> <td>$$v^{12}/r$$</td></tr>
			  <tr><th scope="row">2PM</th> <td/> <td/> <td>$$1/r^2$$</td> <td>$$v^2/r^2$$</td> <td>$$v^4/r^2$$</td> <td>$$v^6/r^2$$</td> <td>$$v^8/r^2$$</td> <td>$$v^{10}/r^2$$</td></tr>
			  <tr><th scope="row">3PM</th> <td/> <td/> <td/> <td>$$1/r^3$$</td> <td>$$v^2/r^3$$</td> <td>$$v^4/r^3$$</td> <td>$$v^6/r^3$$</td> <td>$$v^8/r^3$$</td></tr>
			  <tr><th scope="row">4PM</th> <td/> <td/> <td/> <td/> <td>$$1/r^4$$</td> <td>$$v^2/r^4$$</td> <td>$$v^4/r^4$$</td> <td>$$v^6/r^4$$</td></tr>
			</tbody>
		  </table>
		</p>
	  </div>

	  <div id="merger" class="step" data-rel-x="0" data-rel-y="430" data-rel-to="inspiral2">
		<h3><span class="h3span">merger<span class="orange">:</span> numerical relativity (high velocities!)<span></h3>
		<ul>
		  <li>Expensive simulations</li>
		  <li>Breakthrough 2005 <span class="refInline">[Pretorius '05; Campanelli et al. '06, Baker et al. '06]</span></li>
		</ul>
	  </div>

	  <div id="ringdown" class="step" data-rel-x="0" data-rel-y="250">
		<h3><span class="h3span">ringdown<span class="orange">:</span> blackhole perturbation theory</span></h3>
		<ul>
		  <li>Goes together with the idea of an <em>Effective-One-Body (EOB)</em> approach <a class="refInline" href="https://arxiv.org/abs/gr-qc/9811091">[Buonanno, Damour 1999]</a></li>
		</ul>
	  </div>

	  <div id="main" class="step" data-rel-x="1700" data-rel-to="mergerBreakdown">
		<h2>Bound-t<span class="orange">o</span>-boundary (B2B) relations</h2>
		<p class="center">
		  <img id="mainFig" src="figures/main.svg" alt="scattering">
		</p>
	  </div>

	  <div id="pmeft" class="step" data-rel-x="1700">
		<h2>PM-EFT for a w<span class="orange">o</span>rldline action coupled to GR</h2>
		<ul>
		  <li>We are only interested in <em>classical</em> physics</li>
		  <li>Perturbative expansion in \(G\): can use particle physics/amplitudes toolbox</li>
		  <li>Today: only interested in <em>conservative</em> effects</li>
		</ul>
		<h3><span class="h3span">Full the<span class="orange">o</span>ry</span></h3>
		<p class="center">
	      $$\begin{align}
		  S_{\rm EH} &= -2\Mp^2 \int \dd^4x \sqrt{-g} \, R[g]\\
		  S_{\rm pp} &= - \sum_a m_a \int \dd\sigma_a \sqrt{g_{\mu\nu}(x^\alpha_{a}(\sigma)) v_{a}^\mu(\sigma_a) v_{a}^\nu (\sigma_a)} + \dots\\
		  &\rightarrow -\sum_a \frac{m_a}{2} \int \dd\tau_a\,  g_{\mu\nu}(x_{a}(\tau_a)) v_{a}^\mu(\tau_a) v_{a}^\nu (\tau_a)+\dots
		  \end{align}$$
		</p>
		Extensions to finite-size effects and spinning bodies are simple to implement in this formalism.
	  </div>

	  <div id="pmeft2" class="step" data-rel-x="0" data-rel-y="750">
		<h3><span class="h3span">EFT acti<span class="orange">o</span>n</span></h3>
		<p class="centerLeft">
		  $$e^{i S_{\rm eff}[x_a] } = \int \cD h_{\mu\nu} \, e^{i S_{\rm EH}[h] + i S_{\rm GF}[h] + i S_{\rm pp}[x_a,h]}$$
		  <img id="graphsEFTFig" src="figures/graphsEFT.svg" alt="graphsEFT">
		</p>
		We optimized the EH-Lagrangian by cleverly chosing gauge-fixing terms and adding total derivatives:
		<ul>
		  <li>2-point Lagrangian: 2 terms</li>
		  <li>3-point Lagrangian: 6 terms</li>
		  <li>4-point Lagrangian: 18 terms</li>
		  <li>5-point Lagrangian: 36 terms</li>
		</ul>
		These numbers could even be further reduced by field redefinitions, but we don't want higher point WL-couplings. 
	  </div>

	  <div id="pmeft3" class="step" data-rel-x="0" data-rel-y="770">
		<h3><span class="h3span">PM deflecti<span class="orange">o</span>n</span></h3>
		In a Post-Minkowskian expansion:
		$$S_{\rm eff} = \sum_{n=0}^\infty \int \dd\tau_1\,G^n \cL_n [x_1(\tau_1),x_2(\tau_2)]$$
		with
		$$\cL_0 = - \frac{m_1}{2} \eta_{\mu\nu} v_1^\mu(\tau_1) v_1^\nu(\tau_1)$$
		E.o.m. from variation of the action
		$$-\eta^{\mu\nu}\frac{\dd}{\dd\tau_1} \left(\frac{\partial \cL_0}{\partial  v^\nu_1}\right) = m_1  \frac{\dd v_1^\mu}{\dd\tau_1}  = -\eta^{\mu\nu}\left(\sum_{n=1}^{\infty} \frac{\partial \cL_n}{\partial x^\nu_1(\tau_1)} - \frac{\dd}{\dd\tau_1} \left(\frac{\partial \cL_n}{\partial  v^\nu_1}\right)\right)$$
		allows us to compute the trajectories order by order:
		$$x^\mu_a(\tau_1) = b^\mu_a + u^\mu_a \tau_a + \sum_n G^n \delta^{(n)} x^\mu_a (\tau_a)$$
		with \(b=b_1-b_2\) the impact parameter and \(u_a\) the incoming velocty at infinity, fulfilling
		$$u_1\cdot u_2 = \gamma\,, \quad u_a\cdot b = 0\,.$$
	  </div>

	  <div id="pmeft4" class="step" data-rel-x="0" data-rel-y="750">
		<h3><span class="h3span">Scattering angle<span class="orange">.</span></span></h3>
		First we compute the deflection using above trajectories:
		$$\Delta p^\mu_1= m_1\Delta v^\mu_1 = - \eta^{\mu\nu} \sum_n \int_{-\infty}^{+\infty} \dd\tau_1 {\partial \cL_n  \over\partial x^\nu_1}\,,$$
		
		Physical scattering angle is then simply
		$$2\sin\left(\frac{\chi}{2}\right)  = \frac{|\Delta \bp_{1{\rm cm}} |}{p_\infty}= \frac{\sqrt{-\Delta p_1^2}}{p_\infty}$$
		<p class="center">
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering"/>
		</p>
	  </div>

	  <div id="integrals" class="step" data-rel-x="0" data-rel-y="770">
		<h3><span class="h3span">Integrati<span class="orange">o</span>n</span></h3>
		Generic structure:
		$$
		\int \dd^Dq\frac{\delta(q\cdot u_1)\delta(q\cdot u_2)e^{i b\cdot q}}{(q^2)^m}
		\underbrace{\int \dd^D\ell_1\cdots\dd^D\ell_L\frac{\delta(\ell_1\cdot u_{a_1})\cdots\delta(\ell_L\cdot u_{a_L})}{(\ell_1\cdot u_{b_1}\pm i0)^{i_1}\cdots(\ell_L\cdot u_{b_L}\pm i0)^{i_L}(\textrm{sq. props})}}_{\textrm{Cut Feynman integrals with linear and square propagators}}
		$$
		<ul>
		  <li>Integration by part identities (IBPs): reduction to masters <span class="refInline">[Chetyrkin, Tkachov '81,...]</span></li>
		  <li>Differential equations in \(x\): \(\gamma= (x^2+ 1)/(2x)\) <a class="refInline" href="https://arxiv.org/abs/2005.04236">[Parra-Martinez, Ruf, Zeng '20]</a></li>
		  <li>Canonical basis: solve order by order in \(\epsilon\) <span class="refInline">[Henn 13' 14']</span></li>
		  <li>Static boundary conditions: potential region sufficient for conservative part \(\rightarrow\) already known from PN-EFT</li>
		</ul>
		Final Fourier transform is known to all orders:
		$$\Delta p_a^\mu = \int \dd^Dq (A \overbrace{q^\mu}^{-i \frac{\partial}{\partial b_\mu}} + \underbrace{B u_1^\mu + C u_2^\mu}_{\substack{\textrm{bootstrap from}\\ \textrm{on-shell condition}\\ (\Delta p_a+p_a)^2=p_a^2}}) \frac{\delta(q\cdot u_1)\delta(q\cdot u_2)e^{i b\cdot q}}{(q^2)^{m+n}}$$
	  </div>

	  <div id="Dpres" class="step" data-rel-x="0" data-rel-y="790">
		<h3><span class="h3span">Results<span class="orange">.</span></span></h3>
		$$\frac{\chi}{2} = \sum_{n=1} \chi^{(n)}_b \left(\frac{GM}{b}\right)^n $$		
		Up to 3PM (agreeing with <a class="refInline" href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.122.201603">[Bern, Cheung, Roiban, Shen, Solon, Zeng 2018/2019]</a>):
		$$\begin{align}
		\frac{\chi^{(1)}_b}{\Gamma} &= \frac{2\gamma^2-1}{\gamma^2-1}\\
		\frac{\chi^{(2)}_b}{\Gamma} &= \frac{3\pi}{8} \frac{5\gamma^2-1}{\gamma^2-1}\\
		\frac{\chi^{(3)}_b}{\Gamma} &= \frac{1}{(\gamma^2-1)^{3/2}}\Bigg[-\frac{4\nu}{3} \gamma\sqrt{\gamma^2-1}(14\gamma^2+25)\frac{(64\gamma^6-120\gamma^4+60\gamma^2-5)(1+2\nu(\gamma-1))}{3(\gamma^2-1)^{3/2}}\\
		&\quad-  8\nu (4\gamma^4-12\gamma^2-3)\Arcsinh\sqrt{\frac{\gamma-1}{2}}\,\Bigg]
		\end{align}$$
		with \(\gamma = u_1\cdot u_2\), \(\Gamma=\sqrt{1+2\nu(\gamma-1)}\), \(\nu=m_1m_2/M^2\).
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="0" data-rel-to="main">
	  </div>
	  
	  <div id="B2B" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="pmeft">
		<h2>Boundary-T<span class="orange">o</span>-Bound (B2B) dictionary</h2>
		Conservative motion described by a Hamiltonian:
		$$H(\bp,r) = E \quad \Longrightarrow \quad \bp(r,E)$$
		Scattering angle:
		$$\chi(b,E) +\pi = 2b \int_{r_{\rm min}}^\infty \frac{\dd r}{r\sqrt{r^2\bar\bp^2(r,E)-b^2}}$$
		with \(r_\textrm{min}\) the positive real root of \(p_r\): \(p_r^2(r,E)=\bp^2(r,E)-J^2/r^2\).
		<br/>
		Periastron advance:
		$$\Delta \Phi + 2\pi =  2J \int_{r_-}^{r_+} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}$$
		Don't forget: \(J=p_\infty b\), \(\bar\bp = \bp/p_\infty\).
	  </div>

	  <div id="impetus" class="step" data-rel-x="0" data-rel-y="0" data-rotate-y="90">
		<h2>Interlude: Impetus f<span class="orange">o</span>rmula</h2>
		In <a class="inlineRef" href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008, w/ R. Porto]</a> we found a formula relating the classical IR-finite part of the 2-to-2 scattering amplitude to the momentum along the trajectory:
		<div class="center">
		<div class="centerBox">
		  \(\mathbf{p}^2(r,E) = p_\infty^2(E) + \widetilde{\cM}(r,E)\)
		</div>
		</div>
		with
		$${\widetilde{\cM}}(r,E) \equiv \frac{1}{2E}\int \frac{\dd^3\bq}{(2\pi)^3}\, {\cal M}(\bq,\bp^2=p_\infty^2(E)) e^{-i\bq\cdot \br}$$
		or in PM expanded form: \(\widetilde{\cal M}_n(E) = P_n(E)\) with
		$$\widetilde{\cal M}(r,E) = \sum_{n=1}^\infty \widetilde{\cal M}_n(E) \left(\frac{G}{r}\right)^n,\quad\bp^2(r,E) =  p_\infty^2(E) +\sum_{n=1}^\infty P_n(E) \left(\frac{G}{r}\right)^n$$
	  </div>

	  <div id="firsov" class="step" data-rel-x="0" data-rel-y="680" data-rotate-y="90">
		<h3><span class="h3span">Firs<span class="orange">o</span>v's formula</span></h3>
		Let us invert
		$$\chi(b,E) = -\pi + 2b \int_{r_{\rm min}}^\infty \frac{\dd r}{r\sqrt{r^2\bar\bp^2(r,E)-b^2}} = \sum_{n=1} \chi^{(n)}_b(E) \left(\frac{GM}{b}\right)^n $$
		<a class="inlineRef" href="">[Firsov '53]</a>: dependence on \(r_\textrm{min}\) drops out
		<div class="center"><div class="centerBox">
			$$\bar\bp^2(r,E) = \exp\left[ \frac{2}{\pi} \int_{r|\bar{\bp}(r,E)|}^\infty \frac{\chi(\tilde b,E)\dd\tilde b}{\sqrt{\tilde b^2-r^2\bar\bp^2(r,E)}}\right] = 1 + \sum_{n=1}^\infty f_n(E) \left(\frac{GM}{r}\right)^n$$
		</div></div>
		These integrals are easy to perform in a PM-expanded form and one finds:
		$$\chi_b^{(n)} = \frac{\sqrt{\pi}}{2} \Gamma\left(\frac{n+1}{2}\right)\sum_{\sigma\in\mathcal{P}(n)}\frac{1}{\Gamma\left(1+\frac{n}{2} -\Sigma^\ell\right)}\prod_{\ell} \frac{f_{\sigma_{\ell}}^{\sigma^{\ell}}}{\sigma^{\ell}!}$$
		The inversion thereof also exists.
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="0" data-rel-to="B2B">
	  </div>

	  <div id="orbitEl1" class="step" data-rel-x="0" data-rel-y="780">
		<h3><span class="h3span"><span class="orange">O</span>rbital Elements</span></h3>
		<div class="center">
		  <img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		  vs.
		  <img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		</div>
		$$r_{\textrm{min}} = \tilde r_- \overset{\textrm{Firsov}}{=}  b \exp\left[ -\frac{1}{\pi} \int_{b}^\infty \frac{\chi(\tilde b,E)\dd\tilde b}{\sqrt{\tilde b^2-b^2}}\right]
		=b \prod_{n=1}^\infty e^{-\frac{(GM)^n\chi_b^{(n)}(E)\Gamma\left(\frac{n}{2}\right)}{b^n\sqrt{\pi}\Gamma\left(\frac{n+1}{2}\right)}}$$
		Do an analytic continuation in \(J=p_\infty b\) with \(b\in i\mathbb{R}\)  (\(p_\infty^2\leq0\)):
		$$\begin{align*}
		r_-(J) &= r_{\textrm{min}}(b)\\
		r_+(J) &= r_-(-J) = r_{\textrm{min}}(-b)
		\end{align*}$$
		These are the two real positive roots of \(p_r\): \(p_r^2(r,E)=\bp^2(r,E)-J^2/r^2\) with \(J=p_\infty b\)
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="0" data-rel-to="B2B">
	  </div>
	  
	  <div id="B2B2" class="step" data-rel-x="0" data-rel-y="0">
		<span id="rP" class="vanishPast">\(\textcolor{desyOrange}{\tiny r_\textrm{min}(-J)}\)</span>
		<span id="rM" class="vanishPast">\(\textcolor{desyOrange}{\tiny r_\textrm{min}(J)}\)</span>
		<span id="intPeriastron" class="vanishPast">
		  $$\begin{align}
		  &=2J \int_{r_\textrm{min}(J)}^{\infty} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}\\
		  &\quad-2J \int_{r_\textrm{min}(-J)}^{\infty} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}\\
		  &=\chi(J,E)+\chi(-J,E)+2\pi
		  \end{align}$$
		  </span>
	  </div>
	  

	  <div id="observables" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Observables for the b<span class="orange">o</span>und state</h2>
		We already saw that the periastron advance can be extracted from the angle/amplitude. In PM language:
		  $$\Delta\Phi = \pi \frac{\widetilde\cM_2}{\mu^2M^2 j^2} +\frac{3\pi}{4}\frac{1}{M^4 \mu^4 j^4}\big(\widetilde\cM_2^2+2\widetilde\cM_1\widetilde\cM_3+2p_\infty^2\widetilde\cM_4\big)+\cdots$$
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="0" data-rel-to="main">
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="500" data-rel-to="observables">
		<h3><span class="h3span">The radial acti<span class="orange">o</span>n</span></h3>
		$$\frac{\Delta \Phi+2\pi}{2\pi} = - \frac{\partial  \cS_r(J,\cE)}{\partial J}= -\frac{\partial}{\partial J} \frac{1}{\pi} \int_{r_-}^{r_+} \sqrt{\bp^2(r,{\cal E})-J^2/r^2}$$
		Simply integrate in \(J\) and find the boundary term:
		$$i_r = \frac{{\cal S}_r}{GM\mu} =  {\rm sg}(\hat p_\infty)\chi^{(1)}_j(\cE) - j \left(1 + \frac{2}{\pi} \sum_{n=1}  \frac{\chi^{(2n)}_j({\cE})}{(1-2n)j^{2n}}\right)$$
		with \(\chi_j^{(n)} = \left(\frac{p_\infty}{M\nu}\right)^n \chi_b^{(n)}\).

		Or in amplitudes language:
		$$i_r =  -j +  \frac{{\widetilde \cM}_1}{2 \sqrt{ -\hat p^2_\infty}M \mu^2} + \frac{{\widetilde \cM}_2}{2 jM^2\mu^2} + \frac{{\widetilde \cM}_2^2 +2 {\widetilde \cM}_1{\widetilde \cM}_3+2 p_\infty^2 {\widetilde \cM}_4}{8j^3M^4\mu^4}+\cdots$$
	  </div>

	  

	  <div id="obsEx" class="step" data-rel-x="0" data-rel-y="600">
		<h3><span class="h3span"><span class="orange">O</span>bservables: examples</span></h3>
		<div class="refParent">
		  <a class="ref" href="https://doi.org/10.1103/PhysRevD.62.044024">
			[Damour, Jaranowski, Schäfer 00]
		  </a>
		</div>
		<ul class="margin-bottom30">
		  <li>Periastron advance:
			\(\frac{\Delta\Phi}{2\pi} = -\frac{\partial}{\partial j} \cS_r(j,\cE)-1\)
		  </li>
		  <li>Periastron-to-periastron period:
			\(\frac{T_p}{2\pi} = \frac{1}{\mu}\frac{\partial}{\partial \cE} \cS_r(j,\cE)\)
		  </li>
		  <li>Radial frequency:
			\(\Omega_r (j,\cE) = \frac{2\pi}{T_p}\)
		  </li>
		  <li>Periastron frequency:
			\(\Omega_p (j,\cE) = \frac{\Delta\Phi}{T_p}\)
		  </li>
		  <li>Azimuthal frequency:
			\(\Omega_\phi\equiv\Omega_r+\Omega_p=\frac{2\pi}{T_p}\left(1+\frac{\Delta\Phi}{2\pi}\right)\)
		  </li>
		  <li>Averaged redshift:
			\(\langle z_a\rangle = 1+\frac{\partial \mu}{\partial m_a} \cE -\Omega_r \frac{\partial}{\partial m_a}\cS_r(j,\cE,m_a) \)
			<a class="inlineRef" href="https://doi.org/10.1103/PhysRevD.92.084021">[LeTiec 15] </a>
		  </li>
		 </ul>

	  </div>

	  <div id="potential" class="step" data-rel-x="0" data-rel-y="630">
		<h3><span class="h3span">Classical p<span class="orange">o</span>tential</span></h3>
		We can also extract the PM-expanded conservative two-body potential. We iteratively solve
		$$H(r,\bp^2) = E = \sqrt{\bp^2+m_1^2}+\sqrt{\bp^2+m_2^2} + V(r,\bp^2)$$
		using 
		$$E = E_1 + E_2 = \sqrt{p_\infty^2+m_1^2}+\sqrt{p_\infty^2+m_2^2} $$
		and
		$$ p_\infty^2(E) = \bp^2(r,E) - \sum_i P_i(E) \left(\frac{G}{r}\right)^i\,,$$
		for the PM coefficient of the potential
		$$V(r,\bp^2) = \sum_{i=0}^{\infty}  \frac{c_i(\bp^2)}{i!} \left(\frac{G}{r}\right)^i\,.$$
	  </div>
	  <div id="potential2" class="step" data-rel-x="0" data-rel-y="630">
		<hr>
		We find for the leading coefficient:
		$$c_0(\bp^2) = E(\bp^2) = E_1(\bp^2)+E_2(\bp^2) \equiv \sqrt{\bp^2+m_1^2} + \sqrt{\bp^2+m_2^2}$$
		And a complicated (but purely combinatorial) expression for higher orders:
		$$c_i({\bp}^2) = \sum_{k=1}^{k=i} \frac{\sqrt{\pi}}{2\Gamma\left(\frac{3}{2}-k\right)}
		\frac{E_1({\bp}^2)^{2k-1}+E_2({\bp}^2)^{2k-1}}{(E_1({\bp}^2)E_2({\bp}^2))^{2k-1}}B_{i,k}\left({\cal G}_1({\bp}^2),\dots, {\cal G}_{i-k+1}({\bp}^2)\right)\,,$$
		with Bell polynomials \(B_{i,k}\) and 
		$${\cal G}_m({\bp}^2) = -\sum_{s=0}^m\sum_{\ell=0}^s\frac{m!}{s!}P_{m-s}^{(\ell)}(c_0({\bp}^2))B_{s,\ell}\left(c_1({\bp}^2),\dots,c_{s-\ell+1}({\bp}^2)\right)$$
	  </div>

	  <div id="tidal" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="observables">
		<h2>PM-EFT: Tidal effects for extended <span class="orange">o</span>bjects</h2>
		<div class="refParent">
		  <a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.73.104029" class="ref">[Goldberger, Rothstein 06]</a>
		</div>
		$$S_{\rm pp} \mathrel{+}= \sum_a \!\int \!\dd\tau_a\!\left(c^{(a)}_{E^2} E_{\mu\nu} E^{\mu\nu}
		+c^{(a)}_{B^2} B_{\mu\nu} B^{\mu\nu} - c^{(a)}_{{\tilde E}^2} E_{\mu\nu\alpha}  E^{\mu\nu\alpha} -  c^{(a)}_{{\tilde B}^2} B_{\mu\nu\alpha} B^{\mu\nu\alpha}+\cdots \right)$$
		with operators
		$$\begin{align}
E_{\alpha\beta} &= R_{\mu\alpha\nu\beta} v^\mu v^\nu\,, &  B_{\alpha\beta} &= R^\star_{\mu\alpha\nu\beta} v^\mu v^\nu, \\
		E_{\alpha\beta\gamma} &= \nabla^\perp_{\{\alpha} R_{\beta\rho\gamma \} \nu} v^\rho v^\nu\,, & B_{\alpha\beta\gamma} &= \nabla^\perp_{\{\alpha} R^\star_{\beta\rho\gamma \} \nu} v^\rho v^\nu\end{align}$$
		<div class="refParent">
		  <a href="https://arxiv.org/pdf/2008.06047.pdf" class="ref">[w/ Z. Liu, R. Porto 20]</a>
		</div>
		Use same setup as before and compute:
		<p class="center">
		  <img id="tidalFig" src="figures/graphsEFTTidal.svg" alt="EFT tidal graphs">
		</p>
		<ul>
		  <li>Reproduced quadrupole corrections at NLO PM <a href="https://arxiv.org/abs/2006.06665" class="inlineRef">[Cheung, Solon 20]</a></li>
		  <li>Novel octupole corrections at NLO PM</li>
		  <li>Analytic continuation works as before</li>
		  <li>Binding energy for circular orbits at \(\cO(G^3)\)</li>
		</ul>
	  </div>

	  <div id="spin" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>PM-EFT<span class="orange">:</span> Spinning extended objects</h2>
		<div class="refParent">
		  <span class="ref">[Porto; Porto, Rothstein; ...]</span>
		</div>
		$$S_{\rm pp} \mathrel{+}= -\frac{1}{2}\sum_a \int \dd\tau_a S_{ab}(\tau_a)\omega_\mu^{ab}(\tau_a)\dot{x}_a^\mu(\tau_a)\,,$$
		with spin connection \(\omega_\mu^{ab}\).
		<ul>
		  <li>We can use the same setup for the PM expansion</li>
		  <li>Need to simultaneously solve e.o.m. for the spin tensor:
			$$\frac{\dd S^{ab}}{\dd\tau} = \{S^{ab},\cL_\textrm{int}\}$$
		  </li>
		  <li>The amplitude at 2PM for spin-orbit effects has been worked out by <a href="https://arxiv.org/abs/2005.03071" class="inlineRef">[Bern, Luna, Roiban, Shen, Zeng 20]</a>
		</ul>
	  </div>

	  <div id="alignSpin" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Analytic continuation for aligned spins<span class="orange">.</span></h2>
		Idea: extend our map to the aligned spins for binary BH problem.<br/>
		Motion is still in a plane!
		<div class="center">
		<div class="centerBox">
		  $$\frac{\chi(J,\cE)+\chi(-J,\cE)}{2\pi} = \frac{\Delta\Phi(J,\cE)}{2\pi}$$
		  <p class="center small">
			where \(J\) is now the <em>total</em> the total angular momentum, i.e. orbital angular momentum + spins.
		  </p>
		</div>
		</div>
		<ul>
		  <li>Explicit checks for known PN and PM results work neatly!</li>
		  <li>Relies on the invariance of the (canonical) radial momentum \(p_r\) under \(J\rightarrow -J\), which is true for a quasi-isotropic gauge (given to us automatically by the amplitudes construction).</li>
		  <li>We propose a version of the impetus formula to also hold for the aligned spin case.</li>
		</ul>
	  </div>

	  <div id="resummation" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Resummati<span class="orange">o</span>n</h2>
		<p>
		  Let us truncate our theory at given order \(n\), i.e. \(\cM_m=f_m=0\) for \(m \geq n\).<br/>
		  We can try to resum contributions to all orders in \(G\), e.g. for the scattering angle:
		  <div class="center">
			<div class="centerBox">
			  $$\begin{align*}
			  \frac{\chi[f_1]}{2} &= \Arctan(y/2)\\
			  \frac{\chi[f_{1,2}]+\pi}{2} &= \frac{1}{\sqrt{1-{\cF}_2 y^2}}\left(\frac{\pi}{2} + \Arctan\left(\frac{y}{2\sqrt{1-{\cF}_2 y^2}}\right)\right)
			  \end{align*}$$
			  <p class="center small">
				with \(y \equiv G M f_1/b\) and \(\cF_2 \equiv f_2/f_1^2\)
			  </p>
			</div>
		  </div>
		</p>
		<ul>
		  <li> Resummation of \(\Delta\phi\) works similar to \(\chi\).</li>
		  <li> We can resum parts of \(\cS_r\).</li>
		  <li> We can resum \(f_{1,2}\) contributions for \(r_\textrm{min}\) and \(r_\pm\). ("closed form" for real positive roots of arbitrary order polynomial?)</li>
		  <li> Difficult for \(f_{1,2,3}\). Anyone can do it?</li>
		</ul>
      </div>

	  <div id="conclusions" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Conclusions</h2>
		<ul>
		  <li>We developed an efficient PM EFT framework, allows us to include tidal effects and spin.</li>
		  <li>Mapping (conservative & non-spinning) scattering data to orbital observables does not require a Hamiltonian. Analytic continuation does the job.</li>
		  <li>Analytic continuation also works the special case of aligned spins.</li>
		  <li>The (classical) amplitude, the scattering angle, and the momentum along the trajectory contain the same information.</li>
		  <li>We have these relations in exact form, useful for e.g. numerical computation, as well as in PM expanded form to all orders (purely combinatorial).</li>
		</ul>
	  </div>

	  <div id="outlook" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Outlook</h2>
		<ul>
		  <li>Non-perturbative map invites for numerical studies: Self-force limit?</li>
		  <li>Analytic continuation for arbitrary spin? Radiation? Radiation-reaction? Tail?</li>
		  <li>Full angle at 4PM: We are getting there!</li>
		  <li>Input from self-force computation (numerical & analytical)?</li>
		  <li>We can resum certain quantities. More work required.</li>
		  <li>New type of integrals: What's the space of functions to all loop orders?</li>
		  <li>Compute integrals numerically (and analytically reconstruct?): Machine learning?</li>
		</ul>
	  </div>

	  <div id="final" class="step" data-rel-x="0" data-rel-y="660">
		<p class="center">
		  <img id="mainFig" src="figures/main.svg" alt="scattering">
		</p>
		<p class="small">
		  This research is supported by the ERC-CoG “Precision Gravity: From the LHC to LISA” provided by the European Research Council (ERC) under the European Union’s H2020 research and innovation programme (grant No. 817791), by the DFG under Germany’s Excellence Strategy ‘Quantum Universe’ (No. 390833306), and by the Knut and Alice Wallenberg Foundation (grant KAW 2018.0441).
		</p>
	  </div>

	  <div id="circ" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="outlook">
		<h2>Circular <span class="orange">o</span>rbit</h2>
		<p>
		  Solve \(r_+(J) = r_-(J)\)
		  $$\Leftrightarrow -2 \sum_{n=0}^\infty \left(\frac{1}{\sqrt{\pi}}\left(\frac{GM}{b}\right)^{2n+1}\frac{\Gamma\left(\frac{2n+1}{2}\right)}{\Gamma(n+1)}\chi_b^{(2n+1)}\right) = i \pi + 2\pi i \mathbb{N}$$
		  to find \(j(\cE) \) and compute the radial frequency:
		  $$GM\Omega_{\rm circ} = \left(\frac{\dd\, j({\cal E})}{\dd\, {\cal E}}\right)^{-1}$$
		  Need to resum for a truncated theory \(f_i=0\) for \(i\geq n\)!
		  <br/>
		  We can invert to write the binding energy \(\epsilon\equiv -2 \cE\):
		  $$\begin{aligned}
		  \epsilon =&x \left[1 - \frac{x}{12}(9+\nu) - \frac{x^2}{8}\left(27 -19\nu + \frac{\nu^2}{3}\right)\right.+\frac{x^3}{32}\left(\frac{535}{6}-\frac{5585\nu}{6}+135\nu^2-\frac{35\nu^3}{162}\right) \\
		  &+ \left.\frac{x^4}{384}\left(-10171+\frac{559993}{15}\nu-\frac{34027\nu^2}{3}+\frac{11354\nu^3}{9}+\frac{77\nu^4}{81}\right) + {\cal O}(x^5)\right]
		  \end{aligned}$$
		  using the standard PN parameter \(x \equiv (GM \Omega_{\rm circ})^{2/3}\).
		</p>
	  </div>
	  
  	</div>

	<div id="impress-toolbar"></div>

	<!--
	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate. <br/>
		Press 'P' to launch speaker console.</p>
	</div>
	-->
	<script>
	  if ("ontouchstart" in document.documentElement) { 
		  document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
	  }
	  </script>

	<script src="js/impress.js"></script>
	<script>impress().init();</script>

	<script type="text/javascript">
	  //play and pause video when entering and leaving slide
	  const vid = document.querySelector('video');
	  const vidSlide = document.getElementById('mergerClip');

	  //which mutations to observe
	  const config = {attributes: true};

	  function playVid() {
		  vid.play();
	  };
	  function stopVid() {
		  vid.pause();
		  vid.currentTime = 0;
	  };

	  //handle the class attribute change of the 
	  const callback = function(mutationsList, observer) {
		  for (let mutation of mutationsList) {
			  if (mutation.type == 'attributes' && mutation.attributeName == 'class') {
				  if (mutation.target.classList.contains('active')) {
					  playVid();
				  } else {
					  stopVid();
				  }
			  }
		  }
	  };

	  const observer = new MutationObserver(callback);

	  observer.observe(vidSlide, config);
	</script>

  </body>
</html>
